@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --first-gray: #403f3f;
  --second-gray: #5e5d5d;
}

.ant-modal-wrap {
  display: flex;
  align-items: center;
}

.ant-modal {
  top: 0 !important;
}

.ant-form-item {
  margin-bottom: 0;
}

.ant-card-body {
  padding: 4px !important;
}

.ant-message-info span.anticon {
  margin-top: 5px;
}

.dark {
  background: #343434 !important;

  & .ant-dropdown-menu {
    background: var(--first-gray) !important;
    border-color: var(--second-gray) !important;
  }

  & .ant-card, & .ant-dropdown.ant-dropdown-menu {
    color: white;
    background: var(--first-gray);
    border-color: var(--second-gray);
  }

  & .card-word.red {
    border-color: #871111 !important;
  }

  & .card-word.orange {
    border-color: #b56305 !important;
  }

  & .card-word.green {
    border-color: #026a02 !important;
  }

  & .ant-input, & .ant-input-password {
    background: var(--first-gray) !important;
    border-color: var(--second-gray) !important;
    color: #fff;
  }

  & *::-webkit-input-placeholder {
    color: #9e9e9e;
  }

  & .ant-input:focus, & .ant-input-password:focus {
    /*box-shadow: 0 0 0 2px rgba(41, 136, 10, 0.33);*/
  }

  & .ant-radio-inner::after {
    background-color: var(--first-gray);
  }

  & .ant-radio-inner {
    background: var(--first-gray);
    border-color: var(--second-gray);
  }

  & * {

    &::-webkit-scrollbar-track {
      background: var(--first-gray); /* цвет зоны отслеживания */
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--second-gray); /* цвет бегунка */
      /*border: 3px solid orange;  !* отступ вокруг бегунка *!*/
      border-left: 1px solid var(--second-gray);
      border-right: 1px solid var(--second-gray);
    }
  }

  & .ant-btn-color-default {
    background: var(--first-gray) !important;
    border-color: var(--second-gray) !important;
    color: white;
  }

  & label {
    color: white !important;
  }

  & .ant-input-password-icon {
    color: white !important;
  }
}

.dark-theme {

  & .ant-modal-content {
    background-color: var(--first-gray) !important;
    box-shadow: none !important;
    color: white;
  }

  & .ant-modal-header {
    background-color: var(--first-gray) !important;
  }

  & .ant-modal-title {
    color: white !important;
  }

  .ant-modal-close {
    color: white !important;
  }

  .ant-popover-inner, .ant-popover-arrow::before {
    background: var(--second-gray);
  }

  .ant-btn-variant-outlined {
    background: var(--first-gray);
    color: white;
    border-color: var(--second-gray);

    &:hover {
      background: green !important;
      color: white !important;
    }
  }

  .ant-message-notice-content {
    background: var(--first-gray) !important;
    color: white !important;
  }
}

.dark-theme {

  &::-webkit-scrollbar-track {
    background: var(--first-gray); /* цвет зоны отслеживания */
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--second-gray); /* цвет бегунка */
    /*border: 3px solid orange;  !* отступ вокруг бегунка *!*/
    border-left: 1px solid var(--second-gray);
    border-right: 1px solid var(--second-gray);
  }

  & * {

    &::-webkit-scrollbar-track {
      background: var(--first-gray); /* цвет зоны отслеживания */
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--second-gray); /* цвет бегунка */
      /*border: 3px solid orange;  !* отступ вокруг бегунка *!*/
      border-left: 1px solid var(--second-gray);
      border-right: 1px solid var(--second-gray);
    }
  }
}

* {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lightgray; /* цвет бегунка */
    border-radius: 5px;
    margin: 0 auto;
  }
}